<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Responsive Columns</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="static/style.css">


</head>
<!-- ---------------------------- -->

<body>

<div class="container">

    <div class="row justify-content-center ">
      <div class="col-12 mars_heading py-5 mt-4 rounded">
        <h1>Mission to Mars</h1>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
      </div>
      <!-- <div class="col">
        2 of 2
      </div> -->
    </div>

    <div class="row">
      <div class="col-12 py-3">
        <h2>Latest Mars News</h2>
        <h5>{{mars_dict.news_title}}</h5>
        <p>{{mars_dict.news_p}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <h2>Featured Mars Image</h2>
      
        <img src="{{mars_dict.featured_image_url}}" alt="Featured Mars Image" class=img-fluid>
      </div>
      <div class="col-5">
        <h3>Mars Facts</h3>
          <p style="text-align: left;">{{ mars_dict.html_table|safe }}</p>
        
      </div>
    </div> 

    <!-- Mars Hemispheres SECTION (Images) -->
    <div class="row rounded hems_sect"> 
      
      <div class="col-12">
          <h2 class="hems_heading">Mars Hemispheres</h2>
          <hr>
      </div>

      <!-- First row of imgs on medium screen mars_img1.jpg -->
      {% for item in mars_dict.hemisphere_image_urls %}
        <div class="col-md-6 col-6">
          <div class="thumbnail">
            <img src="{{ item.img_url }}" alt="Featured Mars Image" style=width:100%>
            <div class="caption"> <h5>{{item.title}}</h5> </div>
          </div> 
        </div>
      {% endfor %}


    </div> 
       
  

</div>

</body>

<!-- ---------------------------- -->

</html>